<div class="container d-flex justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="validateCredentials()">
      <div>
        <label>Email
          <input formControlName="email" type="email" class="form-control my-2 col-md-12 col-12" required
                 placeholder="email">
        </label>
        <div class="alert-danger" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
          Invalid or too short email
        </div>
      </div>
      <div>
        <label>Password
          <input formControlName="password" type="password" class="form-control my-2 col-md-12 col-12" required
                 placeholder="password">
        </label>
        <div class="alert-danger" *ngIf="!loginForm.controls['password'].valid &&
        loginForm.controls['password'].touched"> //Min max doesn't work
          Password is too short!
        </div>
      </div>
    <button type="submit" class="btn" [ngClass]="{'btn-success': loginForm.valid, 'btn-danger': !loginForm.valid}"
            [disabled]="!loginForm.valid">Submit
    </button>
  </form>
</div>
